.container{
    text-align: center;
    padding: 32px;
    position: relative;
    
}
.container h3{
    font-size: 26px;
    font-weight: 600;
    border-bottom:4px solid;
    display: inline-block;
    padding-bottom: 8px;
}
.books{
    display: flex;
    justify-content: space-around;
    margin-top: 32px;
    flex-wrap: wrap;
}
.input_color{
    position: absolute;
    top :20px;
    right: 50px;
}